<a href="https://colab.research.google.com/github/MrPool02/Harshit/blob/main/HarshitVermaDAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Python Program to Print Hello World!

In [ ]:
print("Hello World")

Hello World

2. Write a program for the addition of Two Numbers.

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number12
enter a number13
25

3. Write a program to Read Two Numbers and Print Their Quotient and Remainder.

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
l=a%b
j=a/b
print("remainder of the entries is:",l)
print("quotient of the entries is:",j)

enter a number17
enter a number4
remainder of the entries is: 1
quotient of the entries is: 4.25

4. Write a program to Find the Average of Three Numbers.

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=(a+b+c)/3
print("average",d1)

enter a number7
enter a number8
enter a number10
average 8.333333333333334

5. Write a program to Calculate Sum of 5 Subjects and Find Percentage (Max Mark in each subject is 100).

In [ ]:
a=int(input("enter the marks in subject 1"))
b=int(input("enter the marks in subject 2"))
c=int(input("enter the marks in subject 3"))
d=int(input("enter the marks in subject 4"))
e=int(input("enter the marks in subject 5"))
g=a+b+c+d+e
percentage=(g*100)/500
print("percentage",percentage)

enter the marks in subject 198
enter the marks in subject 297
enter the marks in subject 396
enter the marks in subject 495
enter the marks in subject 591
percentage 95.4

6. Write a program to find gross salary.

In [ ]:
basic=int(input("enter basic salary:"))
hra=int(input("enter human resource allowances:"))
da=int(input("enter derness allowances:"))
hra=(hra/100)*basic
print(hra)
da=(da/100)*basic
print(da)
grosssalary=basic+hra+da
print("gross salary=",grosssalary)

enter basic salary100000
enter human resource allowances10000
enter derness allowances1000
10000000.0
1000000.0
gross salary 11100000.0

In [ ]:
7. Write a program to Calculate Area of Rectangle, Square.

In [ ]:
g=int(input("to calculate the area to rectangle enter 1 and for square 0:"))
if(g==1):
  l=int(input("enter the lenghth:"))
  b=int(input("enter the breadth:"))
  area=l*b
else:
  s=int(input("enter the side:"))
  area=s**2
print('Area=',area)

to calculate the area to rectangle enter 1 and for square 0:1
enter the lenghth:10
enter the breadth:20
Area= 200

8. Write a program to Calculate Area of Scalene Triangle and Right-angle Triangle.

In [ ]:
a=int(input("enter the side 1:"))
b=int(input("enter the side 2:"))
c=int(input("enter the side 3:"))
s=(a+b+c)/2
d=s*(s-a)*(s-b)*(s-c)
area=d**(1/2)
print("area of triangle",area)

enter the side 1:6
enter the side 2:7
enter the side 3:8
area of triangle 20.33316256758894

9. Write a program to find the volume and surface area of cube, cuboids and cylinder.

In [ ]:
a=int(input("To calculate area and volume of cube enter 1 ,for cuboid enter 2 and for cylinder enter 3:"))
if(a==2):
  l=int(input("enter the length:"))
  b=int(input("enter the breadth:"))
  h=int(input("enter the height:"))
  volume=l*b*h
  area=2*(l*b+b*h+h*l)
elif(a==1):
  s=int(input("enter the side:")) 
  volume=s**3
  area=6*(s**2) 
elif(a==3):
  r=int(input("enter the radius:"))  
  h=int(input("enter the height:"))
  volume=(3.14)*(r**2)*h
  area=2*(3.14)*r*h + (3.14)*(r**2)
print("area:",area)
print("volume:",volume)

To calculate area and volume of cube enter 1 ,for cuboid enter 2 and for cylinder enter 3:1
enter the side:8
area: 384
volume: 512

10. Write a program to Calculate Volume and surface area of Cone, Sphere and Cylinder.

In [ ]:
a=int(input("To calculate area and volume of cone enter 1 ,for sphere enter 2 and for cylinder enter 3:"))
if(a==1):
  r=int(input("enter the radius:"))
  h=int(input("enter the height:"))
  l=int(input("enter the slant height:"))
  volume=(1/3)*(3.14)*(r**2)*h
  area=(3.14)*(r)*(r+l)
elif(a==2):
  r=int(input("enter the radius:")) 
  volume=(4/3)*(r**3)*(3.14)
  area=4*(r**2)*(3.14)
elif(a==3):
  r=int(input("enter the radius:"))  
  h=int(input("enter the height:"))
  volume=(3.14)*(r**2)*h
  area=2*(3.14)*r*h + (3.14)*(r**2)
print("area:",area)
print("volume:",volume)

To calculate area and volume of cone enter 1 ,for sphere enter 2 and for cylinder enter 3:2
enter the radius:9
area: 1017.36
volume: 3052.08

11. Write a program to find the area of trapezium, rhombus and parallelogram.

In [ ]:
a=int(input("To calculate area of trapezium enter 1 ,for rhombus enter 2 and for parallelogram enter 3:"))
if(a==1):
  a=int(input("enter the base1:"))
  b=int(input("enter the base2:"))
  h=int(input("enter the height:"))
  area=((a+b)*h)/2
elif(a==2):
  p=int(input("enter the diagonal1:"))
  q=int(input("enter the diagonal2:")) 
  area=(p*q)/2
elif(a==3):
  b=int(input("enter the base:"))  
  h=int(input("enter the height:"))
  area=b*h
print("area:",area)

To calculate area of trapezium enter 1 ,for rhombus enter 2 and for parallelogram enter 3:3
enter the base:6
enter the height:8
area: 48

12. Write a program to find the perimeter of a circle, rectangle and triangle.

In [ ]:
a=int(input("To calculate perimeter of circle enter 1 ,for rectangle enter 2 and for triangle enter 3:"))
if(a==1):
  r=int(input("enter the radius:"))
  p=2*(3.14)*r
elif(a==2):
  l=int(input("enter the length:"))
  b=int(input("enter the breadth:")) 
  p=2*(l+b)
elif(a==3):
  s1=int(input("enter the side1:"))  
  s2=int(input("enter the side2:"))
  s3=int(input("enter the side3:"))
  p=s1+s2+s3
print("perimeter:",p)

To calculate perimeter of circle enter 1 ,for rectangle enter 2 and for triangle enter 3:1
enter the radius:6
perimeter: 37.68

13. Write a program to Compute Simple Interest.

In [ ]:
p=int(input("enter initial principal amount:"))
r=int(input("enter the rate:"))
n=int(input("enter the number of times interest applied per time period:"))
t=int(input("enter the time period:"))
a=p*((1+(r/n))**(n*t))
ci=a-p
print("compound intrest:",ci)

enter initial principal amount:10000
enter the rate:3
enter the number of times interest applied per time period:4
enter the time period:2
compound intrest: 869638.8244628906

14. Write a program to Convert Fahrenheit temperature in to Celsius.

In [6]:
f=int(input("enter the value:"))
c=(9*(f-32))/5
print("Incelcius:",c)

enter the value:32
Incelcius: 0.0

15. Write a program to Find the Gravitational Force Acting Between Two Objects.

In [8]:
m1=int(input("mass of object 1 in kg:"))
m2=int(input("mass of object 2 in kg:"))
r=int(input("distance between m1 and m2 in metre:"))
f=(m1*m2)/(r**2)
print("gravitational force:",f,"N")

mass of object 1 in kg:6
mass of object 2 in kg:7
distance between m1 and m2 in metre:9
gravitational force: 0.5185185185185185 N

16. Write a program to swap the values of two variables with and without using third variable.

In [9]:
a=int(input("to swap value of two no. by using third value press 1 and without it press 2:"))
b=int(input("enter the first number:"))
c=int(input("enter the second number:"))
if(a==1):
  d=b+c
  b=d-b
  c=d-c
else:
  b,c==c,b
print("the first no=",b)
print("the second no=",c)

to swap value of two no. by using third value press 1 and without it press 2:1
enter the first number:3
enter the second number:2
the first no= 2
the second no= 3

17. Write a program to perform arithmetic operations on a = 8, b = 3.

In [11]:
a=8
b=3
sum=a+b
sub=a-b
mup=a*b
div=a/b
print("sum=",sum,"sub=",sub,"mup=",mup,"div=",div)

sum= 11 sub= 5 mup= 24 div= 2.6666666666666665

18. Write a program to apply relational operations on a=8, b=3.

In [16]:
a=8
b=3
y=bool(a>b)
x=bool(a==b)
z=bool(a<b)
w=bool(a<=b)
v=bool(a>=b)
print(x,y,z,w,v)

False True False False True

19. Write a program to apply assignment operations on a=8, b=3.

In [17]:
a=8
b=3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)

11
8
24
8.0

20. Write a program to apply logical operations on a=8, b=3.

In [25]:
a=8
b=3
f=bool(a>4 and b>4)
g=bool(a>4 or b>4)
print(f,g)

False True

21. Write a program to apply bitwise operations on a=8, b=3.

In [26]:
a=8
b=3
c=a>>2
d=a<<4
e=b>>2
f=b<<4
print(c,d,e,f)

2 128 0 48

22. Write a program to apply identity operators.

In [27]:
a=8
b=3
y=a is b
print(y)

False

23. Write a program to Swap the Contents of two Numbers using Bitwise XOR Operation

24. Write a program to Multiply given Number by 4 using Bitwise Operators.

25. Python Program to Find the Square Root.

In [29]:
a=int(input("enter a number"))
b=a**(1/2)
print("square root=",b)

enter a number4
square root= 2.0

26. Python program to convert all units of time into seconds.

In [30]:
h=int(input("enter the hours:"))
m=int(input("enter the minutes:"))
s=int(input("enter the seconds:"))
S=(h*60*60)+(m*60)+s
print("Seconds=",S)

enter the hours:5
enter the minutes:12
enter the seconds:6
Seconds= 18726

27. Python program to calculate midpoints of a line-segment.

In [35]:
l=int(input('enter the lenth of line segment:'))
mid=l//2
print(mid)

enter the lenth of line segment:8
4

28. Python program to display your details like name, age, address in three different lines.

In [36]:
a=input("enter name:")
b=int(input("enter the age:"))
c=input("enter the address")
print("name:",a)
print("age:",b)
print("address:",c)

enter name:naman
enter the age:36
enter the addressgaziabad 323
name: naman
age: 36
address: gaziabad 323

29. Python program to compute the distance between the points (x1, y1) and (x2, y2).

In [37]:
x1=int(input("enter the value of x1:"))
y1=int(input("enter the value of x2:"))
x2=int(input("enter the value of x2:"))
y2=int(input("enter the value of y2:"))
e=(x1-x2)**2+(y1-y2)**2
d=e**(1/2)
print("distance between points=",d)

enter the value of x1:3
enter the value of x2:5
enter the value of x2:6
enter the value of y2:7
distance between points= 3.605551275463989

30. WAP to find the absolute value of the given number.